DE2_115_TV.flow.rpt
DE2_115_TV.map.rpt
DE2_115_TV.map.summary
db/
incremental_db/
DE2_115_TV.asm.rpt
DE2_115_TV.done
DE2_115_TV.fit.rpt
DE2_115_TV.fit.smsg
DE2_115_TV.fit.summary
DE2_115_TV.sta.rpt
DE2_115_TV.sta.summary
log.txt
DE2_115_TV.v.bak
DE2_115_TV.cdf
DE2_115_TV.eda.rpt
DE2_115_TV_nativelink_simulation.rpt
greybox_tmp/
simulation/
DE2_115_TV.parallel.txt
.sopc_builder/
sopc_builder_log.txt
DE2_115_TV.map.smsg
verilog/corner_detect.v.bak
*.bak